<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.solgeo.repository.AdminMapper">
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		<if test="adminPhoneNumber != null">
			insert into admin (admin_name, admin_id, admin_password, admin_phone_number, admin_sex)
			values (#{adminName}, #{adminId}, #{adminPassword}, #{adminPhoneNumber}, #{adminSex})
		</if>
		<if test="adminPhoneNumber == null">
			insert into admin (admin_name, admin_id, admin_password, admin_sex)
			values (#{adminName}, #{adminId}, #{adminPassword}, #{adminSex})
		</if>
	</insert>
	
	<select id="findAll" resultType="project.solgeo.domain.Admin">
		select id, admin_name, admin_id, admin_phone_number, admin_sex
		from admin
		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="adminName != null">
				and admin_name like concat('%', #{adminName}, '%')
			</if>
			<if test="adminId != null">
				and admin_id = #{adminId}
			</if>
			<if test="adminPhoneNumber != null">
				and admin_phone_number = #{adminPhoneNumber}
			</if>
		</where>
	</select>
	
</mapper>
