<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.solgeo.repository.BuildingMapper">
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
			insert into building (building_no)
			values (#{buildingNo})
	</insert>
	
	<select id="findAll" resultType="project.solgeo.domain.Building">
		select id, building_no
		from building
	</select>
	
	<select id="findById" resultType="project.solgeo.domain.Building">
		select id, building_no
		from building
		where id = #{id}
	</select>
	
	<update id="update">
		update building
		<set>
		    <if test="building.buildingNo != null">
			building_no=#{building.buildingNo},
		    </if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<delete id="delete">
		delete from building
		<where>
			id=#{id}
		</where>
	</delete>

</mapper>
